<settings>
  <profiles>
        <profile>
            <id>conda</id>
            <properties>
                <outputDirectory>${env.PREFIX}/opt/scijava-jupyter-kernel</outputDirectory>
                <delete.other.versions>true</delete.other.versions>
                <enforcer.skip>true</enforcer.skip>
            </properties>
        </profile>
    </profiles>
</settings>
